:root {
	--main-font: "Roboto", sans-serif;
	--timer-background-color: #FFFFFF;
	--timer-border: 0.2vw solid #000000;
	--timer-height: 35vw;
	--timer-width: 65vw;
	--button-border: 0.3vw solid #000000;
 	--button-text-size: 4vw;
}

body, div, p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1024px) {
	:root {
		--timer-height: 45vw;
		--timer-width: 70vw;
		--button-text-size: 3vw;
}
@media screen and (max-width: 650px) {
	:root {
		--timer-height: 90vw;
	}
}
}